body {
	font-family: "Segoe UI", Tahoma, sans-serif;
}

.margin-container {
	margin: 25px 10px;
}

#popup {
	width: 70%;
	text-align:center;
	margin: 0 auto;

	p {
		font-size: 14px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
		font-weight: normal;
	}

	input, button {
		outline: none;
	}

	#info-title {
		font-size: 2em;
		word-wrap: break-word;
	}
}

#navbar {
	background-color: black;

	#open-tab-view {
		color: white;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		display: none;
	}

	img {
		height: 40px;
		width: auto;
		padding: 5px;
		cursor: pointer;
	}
}

%no-highlight {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-select {
	@extend %no-highlight;
}

.no-shadow {
	box-shadow: none;
}


#navfooter {
	display: flex;

	div {
		height: 5px;
		width: 25%;
	}

	div:nth-child(1) {
		background-color: #FFFFAA;
	}

	div:nth-child(2) {
		background-color: #FFEA3D;
	}

	div:nth-child(3) {
		background-color: #FFD54F;
	}

	div:nth-child(4) {
		background-color: #E4B429;
	}
}

#searchArea {
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	#search-field {
		display: flex;
		width: 60%;
		flex-wrap: wrap;
		position: relative;
	}

	#searchButton {
		border-radius: 3px;
		box-shadow: none;
		border-width: 2px;
		border-color: #A9A9A9;
		border-style: solid;
		transition: 1s;
		background-color: #b3b3ff;
		height: 26px;
		margin-left: 7px;

		i {
			color: white;
		}
	}

	#searchButton:hover {
		background-color: #9999ff;
		border-color: #000000;
		cursor: pointer;
	}
}

#searchArea #search-field {

	#input-box-style {
		width: 100%;
		border-radius: 3px;
		box-shadow: none;
		border-width: 2px;
		border-color: #A9A9A9;
		border-style: solid;
		transition: 0.7s;
		height: 22px;
		padding-left: 3px;

		#searchBox {
			z-index: 1;
			outline: none;
			border: none;
			height: 100%;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
	}

	#input-box-style:focus-within {
		border-color: #000000;
	}

	#input-box-style:hover {
		border-color: #000000;
	}

	#autocomplete {
		width: 99%;
		top: 26px;
		position: absolute;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		border: 1px solid #ddd;
		border-top: 0;
		background-color: white;
		z-index: 1;
	}

	#autocomplete:empty {
		border: 0;
	}
}

#searchArea #search-field #autocomplete {

	.suggestion {
		border-top: 1px solid #ddd;
		background-color: white;
		text-align: left;
		cursor: pointer;
		transition: 0.2s;
		z-index: 2;
		padding: 2px;
		line-height: 16px;
	}

	.suggestion:first-child {
		border-top: 0;
	}

	.suggestion:hover {
		background-color: #f9f9f9;
	}

	.suggestion div:first-child {
		font-size: 14px;
	}

	.suggestion div:nth-child(2) {
		font-size: 12px;
		color: gray;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#courseInfo {
	display: none;
}

#courseInfo, #disclaimer {
	text-align: left;
}

#courseInfo span, #disclaimer span {
	font-weight: bold;
}

#antirequisites a, #corequisites a, #prerequisites a {
	color: #909090;
	text-decoration: none;
	font-weight: 500;
}

#antirequisites a:hover, #corequisites a:hover, #prerequisites a:hover {
	color: #696969;
	text-decoration: underline;
}

#links a, #notes a {
	color: #2050D5;
	text-decoration: none;
	font-weight: 500;
}

#links a:hover, #notes a:hover {
	color: #10369E;
	text-decoration: underline;
}

#error {
	text-align: center;
	display: none;

	p {
		font-size: 13px;
		font-weight: bold;
		line-height: 16px;
	}
}

.loader {
	margin: 10px;
	display: none;
	color: black;
	font-weight: bold;
	font-size: 14px;

	.fa {
		margin-right: 8px;
	}
}

.overflow-container {
	-webkit-overflow-scrolling: touch;
}

.overflow-container-scroll {
	overflow-x: scroll;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 0 1px #A9A9A9;
	-webkit-overflow-scrolling: touch;
	/* max-height: 550px; */
}

#infoTables {

	p {
		font-weight: bold;
		margin-block-end: 0.5em;
	}

	div {
		margin-bottom: 17px;
	}

	div:last-child {
		margin-bottom: 0;
	}

	table {
		border: 1px solid #A9A9A9;
		border-collapse: separate;
		white-space: nowrap;
		border-radius: 5px 5px 0 0;
		width: 100%;
		border-spacing: 0;
	}

	table:empty {
		border: none;
	}

	thead th {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		background-color: #f8f8ff;
		box-shadow: 0 1px 0 #ddd;
		overflow: hidden;
	}

	th {
		padding: 2px 8px;
		line-height: 18px;
		font-size: 14px;
	}

	th:first-child {
		border-radius: 5px 0 0 0;
	}

	th:last-child {
		border-radius: 0 5px 0 0;
	}

	td {
		padding: 2px 8px;
		line-height: 18px;
		font-size: 14px;
		border-top: 1px solid #ddd;
	}

	.table-caption {
		background-color: #f8f8ff;
		overflow: hidden;
	}

	.table-caption:first-child {
		border-top: none;
	}
}

#infoTables td {
	
	&.LEC {
		background-color: #f7fcfe;
		border-left: 4px solid #b2d0dd;
	}

	&.TUT {
		background-color: #f9fcf9;
		border-left: 4px solid #bfd2bf;
	}

	&.TST {
		background-color: #fffcf8;
		border-left: 4px solid #e2ceb2;
	}

	&.LAB {
		background-color: #fcf8f8;
		border-left: 4px solid #d0b8b7;
	}

	&.SEM {
		background-color: #fff8f8;
		border-left: 4px solid #eac5c5;
	}

	&.PRJ {
		background-color: #fbf9fd;
		border-left: 4px solid #c9bed5;
	}

	&.EXAM {
		background-color: #f9f9f9;
		border-left: 4px solid #d0d0d0;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 6px;
	overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
 	background: #A9A9A9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #989898;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="search"] {
	font-size: 14px;
	width: 100%;
}

@media screen and (max-width: 1200px) {

	#popup {
		width: 80%;
	}
}
