#popup {
	width:300px;
	text-align:center;
	margin: 10px 10px 25px 10px;
}

#logo {
	width: 250px;
}

#courseInfo {
	text-align: left;
}

#courseInfo span {
	font-weight: bold;
}

#courseInfo #error {
	text-align: center;
}

#searchArea {
	margin-top: 15px;
}

#searchArea #searchBox {
	border-radius: 3px;
	box-shadow: none;
	border-width: 2px;
	border-color: #A9A9A9;
	border-style: solid;
	transition: 0.7s;
}

#searchArea #searchBox:focus {
	border-color: #000000;
}

#searchArea #searchButton {
	border-radius: 3px;
	box-shadow: none;
	border-width: 2px;
	border-color: #A9A9A9;
	border-style: solid;
	transition: 1s;
	background-color: #b3b3ff;
}

#searchArea #searchButton:hover {
	background-color: #9999ff;
	border-color: #000000;
	cursor: pointer;
}

#searchArea #searchButton i {
	color: white;
}

input, button {
	outline: none;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

table:empty {
	border: none;
}

#scheduleTable p {
	font-weight: bold;
	margin-block-end: 0.5em;
}

#scheduleTable div {
	margin-bottom: 17px;
}

#scheduleTable div:last-child {
	margin-bottom: 0;
}

#scheduleTable th, td {
	padding: 2px 8px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 	background: #A9A9A9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #989898;
}
